.rank-icon {
  height: 40px;
  width: 40px;
}

.table {
  text-transform: uppercase;
}

.ProfileHeader {
  background-image: linear-gradient(
      rgba(200, 200, 200, 0.5),
      rgba(200, 200, 200, 0.5)
    ),
    url('./images/lijiang-tower.jpg');
    
}
